<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            Trang chủ
        </li>
        <li class="breadcrumb-item">
            previous-page
        </li>
        <li class="breadcrumb-item active">
            current-page
        </li>
    </ol>
</nav>