@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt-3 pb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>LIÊN LẠC VỚI CHÚNG TÔI NGAY</h3>
        </div>
        <div class="col-12 text-justify">
            <p>Liên hệ vào số điện thoại này nè: 113</p>
        </div>
    </div>
</div>