@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid mt-3 pb-3">
    <div class="row">
        <div class="col-12 text-center">
            <h3>HƯỚNG DẪN MUA HÀNG</h3>
        </div>
        <div class="col-12 text-justify">
            <p>Bước 1. Mua hàng.</p>
            <p>Không có bước 2.</p>
        </div>
    </div>
</div>