@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/Admin_LayoutPage.cshtml";
}
@using VuThanhDuong_DA.Models
@model product_category


<form method="post" action="~/Admin/CategoryEdit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center p-3 m-3 border-bottom">
                <h4>CHỈNH SỬA DANH MỤC SẢN PHẨM</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="form">
                    <div class="form-group">
                        <label>Mã danh mục sản phẩm</label>
                        <input name="category_id" class="form-control" value="@Model.product_category_id" readonly />
                    </div>
                    <div class="form-group">
                        <label>Tên danh mục sản phẩm</label>
                        <input name="category_name" class="form-control" value="@Model.product_category_name" required />
                    </div>
                    <div class="form-group">
                        <label>Mô tả danh mục sản phẩm</label>
                        <textarea name="category_description" class="form-control" style="height: 250px" required>@Model.product_category_description</textarea>
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-center d-inline">
                        <input class="btn btn-success" type="submit" value="Chỉnh sửa danh mục" />
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</form>

@if (TempData["categoryEditSucceed"] != null)
{
    <div class="modal fade show" role="dialog" data-toggle="modal" id="editSucceedModal" aria-labelledby="editSucceedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-success">Chỉnh sửa danh mục thành công.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#editSucceedModal").modal("show");
    });
</script>