<div class="container-fluid bg-light rounded border p-0">
    <ul class="list-group">
        <li class="list-group-item font-weight-bold">
            QUẢN LÝ CHUNG
        </li>
        <li class="list-group-item">
            <ul class="list-group font-weight-bold">
                <li class="list-group-item font-weight-bold">
                    QUẢN LÝ TÀI KHOẢN NGƯỜI DÙNG
                </li>
                <li class="list-group-item">
                    <a href="#">Danh sách tài khoản người dùng</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <ul class="list-group font-weight-bold">
                <li class="list-group-item font-weight-bold">
                    QUẢN LÝ ĐƠN HÀNG NGƯỜI DÙNG
                </li>
                <li class="list-group-item">
                    <a href="#">Đơn hàng chờ xác nhận</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Cập nhật giao hàng thành công</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <ul class="list-group font-weight-bold">
                <li class="list-group-item font-weight-bold">
                    QUẢN LÝ DANH MỤC SẢN PHẨM
                </li>
                <li class="list-group-item">
                    <a href="~/Admin/CategoryCreate">Thêm mới danh mục</a>
                </li>
                <li class="list-group-item">
                    <a href="~/Admin/CategoryList">Danh sách danh mục</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <ul class="list-group font-weight-bold">
                <li class="list-group-item font-weight-bold">
                    QUẢN LÝ SẢN PHẨM
                </li>
                <li class="list-group-item">
                    <a href="~/Admin/ProductCreate">Thêm mới sản phẩm</a>
                </li>
                <li class="list-group-item">
                    <a href="~/Admin/ProductList/0">Danh sách sản phẩm</a>
                </li>
            </ul>
        </li>
        <li class="list-group-item">
            <ul class="list-group font-weight-bold">
                <li class="list-group-item font-weight-bold">
                    QUẢN LÝ SỰ KIỆN GIẢM GIÁ
                </li>
                <li class="list-group-item">
                    <a href="#">Thêm mới sự kiện</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Danh sách sự kiện</a>
                </li>
            </ul>
        </li>
    </ul>
</div>