@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<form method="post" action="~/User/ChangePassword">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center p-3 m-3 border-bottom">
                <h4>THAY ĐỔI MẬT KHẨU</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="form">
                    <div class="form-group">
                        <label>Mật khẩu hiện tại</label>
                        <input name="currentPassword" class="form-control" type="password" minlength="8" />
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu mới</label>
                        <input name="newPassword" class="form-control" type="password" minlength="8" />
                    </div>
                    <div class="form-group">
                        <label>Nhập lại mật khẩu mới</label>
                        <input name="rePassword" class="form-control" type="password" minlength="8" />
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-center d-inline">
                        <input class="btn btn-success" type="submit" value="Đổi mật khẩu" />
                    </div>
                </div>
            </div>
            <div class="col-3">

            </div>
        </div>
    </div>
</form>

@if (ViewBag.wrong != null)
{
    <div class="modal fade show" role="dialog" data-toggle="modal" id="changeFailedSucceedModal" aria-labelledby="changeFailedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-danger">@ViewBag.wrong</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}
@if (ViewBag.changeSucceed != null)
{
    <div class="modal fade show" role="dialog" data-toggle="modal" id="changeSucceedSucceedModal" aria-labelledby="changeSucceedModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <p class="text-success">@ViewBag.changeSucceed</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" type="button" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#changeFailedSucceedModal").modal("show");
        $("#changeSucceedSucceedModal").modal("show");
    });
</script>