@using VuThanhDuong_DA.Models
@model user_account

<div class="modal fade" role="dialog" data-toggle="modal" id="userLoginModal" aria-labelledby="userLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng nhập</h5>
            </div>
            <form id="userLoginForm" action="@Url.Action("LoginHandler", "User")" method="post">
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <input id="login_username" name="user_username" class="form-control" type="text" />
                                    <p id="validLoginUsername" class="text-danger">Vui lòng nhập tên đăng nhập</p>
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <input id="login_password" name="user_password" class="form-control" type="password" />
                                    <p id="validLoginPassword" class="text-danger">Vui lòng nhập mật khẩu</p>
                                </div>
                                <div class="form-group form-check">
                                    <input class="form-check-input" type="checkbox" />
                                    <label for="user_rememberpassword">Ghi nhớ mật khẩu?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" type="submit">Đăng nhập</button>
                    <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Thoát</button>
                </div>
            </form>
        </div>
    </div>
</div>