<div class="modal fade show" role="dialog" data-toggle="modal" id="loginFailedModal" aria-labelledby="loginFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
            </div>
            <div class="modal-body">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p>Thông tin đăng nhập không chính xác! Vui lòng kiểm tra lại.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#userLoginModal" data-dismiss="modal">Đăng nhập lại</button>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>