<div class="modal fade" role="dialog" data-toggle="modal" id="logOutModal" aria-labelledby="logOutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
            </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                               <h6>Bạn có chắc chắn muốn đăng xuất?</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-outline-success" href="@Url.Action("LogOut", "User")">Đăng xuất</a>
                    <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Hủy</button>
                </div>
        </div>
    </div>
</div>