<div class="modal fade" role="dialog" data-toggle="modal" id="registerLoginModal" aria-labelledby="registerLoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng ký</h5>
            </div>
            <form>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <input name="user_username" class="form-control" type="text" />
                                </div>
                                <div class="form-group">
                                    <label>Mật khẩu</label>
                                    <input name="user_password" class="form-control" type="password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-success" type="submit">Đăng ký</button>
                    <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Thoát</button>
                </div>
            </form>
        </div>
    </div>
</div>