<div class="modal fade show" role="dialog" data-toggle="modal" id="registerFailedModal" aria-labelledby="registerFailedModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-danger">Đăng ký không thành công. @TempData["why"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#userRegisterModal" data-dismiss="modal">Đăng ký lại</button>
                <button class="btn btn-outline-danger" type="button" data-dismiss="modal">Thoát</button>
            </div>
        </div>
    </div>
</div>