@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using VuThanhDuong_DA.Models;
@using MvcSiteMapProvider.Web.Html
@model List<product>

@{
    Html.MvcSiteMap().SiteMap.CurrentNode.Title = ViewBag.categoryTitle;
}

<div class="container-fluid mt-3 pb-3">
    <div class="row-pl-2 mb-3 border-bottom">
        <div class="col-12">
            <h3>@ViewBag.categoryTitle</h3>
            <p class="text-justify">@ViewBag.categoryDescription</p>
        </div>
    </div>
    <div class="row-pl-2 mb-3 pb-3 border-bottom">
        <div class="col-12 text-right">
            <span><i class="fa-solid fa-filter d-inline"></i> Sắp xếp:</span>
            <a href="#!" class="btn btn-outline-dark d-inline"><i class="fa-solid fa-not-equal"></i> Mặc định</a>
            <a href="#!" class="btn btn-outline-dark d-inline"><i class="fa-solid fa-arrow-up-a-z"></i> A-Z</a>
            <a href="#!" class="btn btn-outline-dark d-inline"><i class="fa-solid fa-arrow-down-a-z"></i> Z-A</a>
            <a href="#!" class="btn btn-outline-dark d-inline"><i class="fa-solid fa-arrow-up-1-9"></i> Giá tăng dần</a>
            <a href="#!" class="btn btn-outline-dark d-inline"><i class="fa-solid fa-arrow-down-1-9"></i> Giá giảm dần</a>
        </div>
    </div>
    <div class="row pl-2">
        @{
            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            foreach (var p in Model)
            {
                <a href="~/Product/Details/?id=@p.product_id">
                    <div class="card m-1" style="width: 17vw">
                        <img class="card-img-top img-fluid" src="~/Images/@p.product_thumbnail_image" style="width: 100vw; height: 170px" />
                        <div class="card-footer text-center">
                            <p class="font-weight-bold text-truncate" style="width: 100%">
                                @p.product_name
                            </p>
                            <p class="card-subtitle font-weight-bold mt-1 text-danger">
                                <span class="text-dark">Giá:</span> @String.Format(info, "{0:C0}", p.product_price)
                            </p>
                        </div>
                        @if (p.product_inventory == 0)
                        {
                            <span class="badge badge-danger" style="position: absolute; left: 0; top: 0">HẾT HÀNG</span>
                        }
                        else if (p.product_discount > 0)
                        {
                            <span class="badge badge-warning" style="position: absolute; left: 0; top: 0">GIẢM GIÁ</span>
                        }
                    </div>
                </a>
            }
        }
    </div>
</div>