@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@using VuThanhDuong_DA.Models;
@model List<product>

<div class="container-fluid mt-3 pb-3">
    <div class="row-pl-2 mb-3 border-bottom">
        <div class="col-12">
            <h3>Kết quả tìm kiếm cho từ khóa "@ViewBag.search"</h3>
            <p class="text-justify">Có @ViewBag.searchAmount kết quả.</p>
        </div>
    </div>
    <div class="row pl-2">
        @{
            var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
            if (Model != null)
            {
                foreach (var p in Model)
                {
                    <a href="~/Product/Details/?id=@p.product_id">
                        <div class="card m-1">
                            <img class="card-img-top img-fluid" src="~/Images/@p.product_thumbnail_image" style="width: 250px; height: 170px" />
                            <div class="card-footer text-center">
                                <p class="card-subtitle font-weight-bold">
                                    @p.product_name
                                </p>
                                <p class="card-subtitle font-weight-bold mt-1 text-danger">
                                    <span class="text-dark">Giá:</span> @String.Format(info, "{0:C0}", p.product_price)
                                </p>
                            </div>
                        </div>
                    </a>
                }
            }
        }
    </div>
</div>